<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
</head>

<body>
    <div id="block-header-bar" class="ui secondary pointing menu">
        <img class="ui medium circular image" src="/TestLogo3.png" max-height="42" max-width="42">
        <a href="/" id="home-tab" class="item active">Home</a>
        <a href="/nutrition" id="nutrition-tab" class="item">Nutrition</a>
        <a href="/workout" id="workouts-tab" class="item">Workouts</a>

        <div class="right menu">
            <a class="ui item">
                <img class="ui avatar image" src="/testdoge.jpg">
                <span>Username</span>
            </a>
            <a class="ui item">Logout</a>
        </div>
    </div>
    <div id="ui-content" class="ui segment">
        <p>This is my home</p>
    </div>
    <style>
        #block-header-bar {
            background-color: #a5a2a2;
            padding: 10px;
        }
    </style>
</body>

</html>