<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
</head>

<body>
    <div id="block-header-bar" class="ui secondary pointing menu">
        <img class="ui medium circular image" src="/TestLogo3.png" max-height="42" max-width="42">
        <a href="/" id="home-tab" class="item active">Home</a>
        <a href="/nutrition" id="nutrition-tab" class="item">Nutrition</a>
        <a href="/workout" id="workouts-tab" class="item">Workouts</a>

        <div class="right menu">
            <a class="ui item">
                <img class="ui avatar image" src="/testdoge.jpg">
                <span>Username</span>
            </a>
            <a id="login" class="ui item">Login</a>
            <a id="register" class="ui item">Register</a>
        </div>
    </div>
    <div id="ui-content" class="ui segment">
        <p>This is my home</p>
        <a id="writeData">Click me to write data</a>
        <a id="modal-link">Click me to open modal</a>
    </div>
    <div id="modal-window" class="ui modal">
        <div class="header">Header</div>
        <div class="image content">
            <img class="image">
            <div class="description">
                <p>Hello</p>
            </div>
        </div>
    </div>
    <style>
        #block-header-bar {
            background-color: #a5a2a2;
            padding: 10px;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        let config = {
            apiKey: "AIzaSyD69_6YZen6nLawXQ14vI4fBwGiaw2Ets8",
            authDomain: "hackuci2018-dcb66.firebaseapp.com",
            databaseURL: "https://hackuci2018-dcb66.firebaseio.com",
            projectId: "hackuci2018-dcb66",
            storageBucket: "",
            messagingSenderId: "298079984245"
        };
        firebase.initializeApp(config);
        let registerBtn = document.getElementById("register");
        registerBtn.addEventListener('click', () => {
            let email = "test@test.com";
            let password = "password";
            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                // Handle Errors here.
                let errorCode = error.code;
                let errorMessage = error.message;
                console.log("Error creating account!");
            });
        });
        let loginBtn = document.getElementById("login");
        loginBtn.addEventListener('click', () => {
            if (loginBtn.innerText === "Login") {
                let email = "test@test.com";
                let password = "password";
                firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                    // Handle Errors here.
                    let errorCode = error.code;
                    let errorMessage = error.message;
                    console.log("Error logging in!");
                });
                loginBtn.innerText = "Logout"
            } else {
                firebase.auth().signOut().then(function() {
                    // Sign-out successful.
                }).catch(function(error) {
                    // An error happened.
                });
            }
        });

        // Start developing database
        let db = firebase.database();

        function writeUserData(userId, name, email) {
            firebase.database().ref('users/' + userId).set({
                username: name,
                email: email
            });
        }

        let writeDataLink = document.getElementById("writeData")
        writeDataLink.addEventListener('click', () => {
            writeUserData("1", "Test", "test@test.com")
        });

        document.getElementById('modal-link').addEventListener('click', () => {
            $('#modal-window').modal('show');
        });
    </script>
</body>

</html>