<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
</head>

<body>
    <div id="block-header-bar" class="ui secondary pointing menu">
        <img class="ui medium circular image" src="/TestLogo3.png" max-height="42" max-width="42">
        <a href="/" id="home-tab" class="item active">Home</a>
        <a href="/nutrition" id="nutrition-tab" class="item">Nutrition</a>
        <a href="/workout" id="workouts-tab" class="item">Workouts</a>

        <div class="right menu">
            <a class="ui item">
                <img class="ui avatar image" src="/testdoge.jpg">
                <span>Username</span>
            </a>
            <a id="login" class="ui item">Login</a>
            <a id="register" class="ui item">Register</a>
        </div>
    </div>
    <div id='modal-window' class="ui modal">
        <div class="header">Register</div>
    <div id='registerinformation' class="ui input">
        <input id='registerform-email' placeholder="Email" type="text">

        <input id='registerform-password' placeholder="password" type="text">
    </div>
    <div class="actions">
        <div id='registerform-registerbutton' class="ui approve button">Register!</div>
        <div class="ui cancel button">Cancel</div>
        </div>
    </div>
<<<<<<< Updated upstream
    <div id='modal-login' class="ui modal">
        <div class="header">Login</div>
    <div id='loginInformation' class="ui input">
        <input id='loginform-email' placeholder="Email" type="text">

        <input id='loginform-password' placeholder="password" type="text">
    </div>
    <div class="actions">
        <div id='loginform-loginbutton' class="ui approve button">Login!</div>
        <div class="ui cancel button">Cancel</div>
        </div>
    </div>
=======

    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="/testdoge.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Ryan Ea
            </a> added you as a friend
            <div class="date">
              1 Hour Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 4 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/testung.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Kenneth Ung</a> added <a>2 new Work out photos!</a>
            <div class="date">
              4 days ago
            </div>
          </div>
          <div class="extra images">
            <a><img src="/nutrition.png"></a>
            <a><img src="/workout.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 1 Like
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/testvan.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              David Van
            </a> added you as a friend
            <div class="date">
              2 Days Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 8 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/testung.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Kenneth Ung</a> Hit his goal of burning a total of 50,000 Calories since the begining!
            <div class="date">
              3 days ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 5 Likes
            </a>
          </div>
        </div>
      </div>
    </div>

>>>>>>> Stashed changes
    <style>
        #block-header-bar {
            background-color: #a5a2a2;
            padding: 10px;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        let config = {
            apiKey: "AIzaSyD69_6YZen6nLawXQ14vI4fBwGiaw2Ets8",
            authDomain: "hackuci2018-dcb66.firebaseapp.com",
            databaseURL: "https://hackuci2018-dcb66.firebaseio.com",
            projectId: "hackuci2018-dcb66",
            storageBucket: "",
            messagingSenderId: "298079984245"
        };
        firebase.initializeApp(config);
        let registerBtn = document.getElementById("register");
        registerBtn.addEventListener('click', () => {
            $('#modal-window').modal('show');
        });
        let registerConfirmBtn = document.getElementById("registerform-registerbutton");
        registerConfirmBtn.addEventListener('click', () => {
            let email = document.getElementById('registerform-email').value;
            let password = document.getElementById('registerform-password').value;
            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                //Handle Errors
                let errorCode = error.code;

                let errorMessage = error.message;
                console.log("Error Creating account!");
                let sendError = document.getElementById("registerinformation");
                sendError.innerHTML += "<a id=\"ErrorText\" class=\"ui input red\"> There was an error creating the account!</a>";
            });
        });

        let loginBtn = document.getElementById("login");
        loginBtn.addEventListener('click', () => {
            if(loginBtn.innerText === "Login") {
                $('#modal-login').modal('show');
            } else {
                firebase.auth().signOut().then(function() {

                }).catch(function(error) {

                });
            }
        });
        let loginBtnConfirm = document.getElementById("loginform-loginbutton");
        loginBtnConfirm.addEventListener('click', () => {
            let email = document.getElementById('loginform-email').value;
            let password = document.getElementById("loginform-password").value;
            firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                // Handle Errors here.
                let errorCode = error.code;
                let errorMessage = error.message;
                console.log("Error logging in!");
                let sendError = document.getElementById("loginInformation");
                sendError.innerHTML += "<a id=\"ErrorText\" class= \"ui input red\"> There was an error logging in!</a>"
            });
        });

        // Start developing database
        let db = firebase.database();

        function writeUserData(userId, name, email) {
            firebase.database().ref('users/' + userId).set({
                username: name,
                email: email
            });
        }

        // let writeDataLink = document.getElementById("writeData")
        // writeDataLink.addEventListener('click', () => {
        //     writeUserData("1", "Test", "test@test.com")
        // });

        // document.getElementById('register').addEventListener('click', () => {
        //     $('#modal-window').modal('show');
        // });
    </script>
</body>

</html>