<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
</head>

<body>


    <div id="block-header-bar" class="ui secondary pointing menu">
        <img class="ui medium circular image" src="/TestLogo3.png" max-height="42" max-width="42">
        <a href="/" id="home-tab" class="item">Home</a>
        <a href="/nutrition" id="nutrition-tab" class="item active">Nutrition</a>
        <a href="/workout" id="workouts-tab" class="item">Workouts</a>


    <div class="right menu">
        <a class="ui item">
            <img class="ui avatar image" src="/testdoge.jpg">
            <span>Username</span>
        </a>
        <a id="login" class="ui item">Login</a>
        <a id="register" class="ui item">Register</a>
        </div>
    </div>
    <div id='modal-window' class="ui modal">
        <div class="header">Register</div>
    <div id='registerinformation' class="ui input">
        <input id='registerform-email' placeholder="Email" type="text">

        <input id='registerform-password' placeholder="password" type="text">
    </div>
    <div class="actions">
        <div id='registerform-registerbutton' class="ui approve button">Register!</div>
        <div class="ui cancel button">Cancel</div>
        </div>
    </div>
    <div id='modal-login' class="ui modal">
        <div class="header">Login</div>
    <div id='loginInformation' class="ui input">
        <input id='loginform-email' placeholder="Email" type="text">

        <input id='loginform-password' placeholder="password" type="text">
    </div>
    <div class="actions">
        <div id='loginform-loginbutton' class="ui approve button">Login!</div>
        <div class="ui cancel button">Cancel</div>
        </div>
    </div>
    <div id="ui-content" class="ui segment">
        <p>Add Graph of calories burn and calories eaten here!!!</p>
        <div class="ui progress">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">1337/2000 Calories Consumed</div>
        </div>

        <div class="ui three column very relaxed grid">
            <div class="column">
                <div class="ui large label">
                    <p>Breakfast</p>
                </div>
            </div>
            <div class="column">
                <div class="ui large label">
                    <p>Lunch</p>
                </div>
            </div>
            <div class="column">
                <div class="ui large label">
                    <p>Dinner</p>
                </div>
            </div>
        </div>

        <div class="ui three column very relaxed grid">
            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui inverted relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <div class="header">Fried Rice</div>
                                Calories: 980 | Protein(g):300 | Fat(g):30
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Chicken Breast</div>
                                Calories: 650 | Protein(g):400 | Fat(g):80
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Sandwich</div>
                                Calories: 300 | Protein(g):100 | Fat(g):230
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui inverted relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <div class="header">Fried Chicken</div>
                                Calories: 120 | Protein(g):140 | Fat(g):210
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Chicken Swag</div>
                                Calories: 720 | Protein(g):430 | Fat(g):720
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Meat Monster</div>
                                Calories: 321 | Protein(g):100 | Fat(g):230
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                    <div class="ui inverted relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <div class="header">Twinkie</div>
                                Calories: 570 | Protein(g):300 | Fat(g):30
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Porkchop</div>
                                Calories: 230 | Protein(g):20 | Fat(g):234
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">Swag Sandwich</div>
                                Calories: 900 | Protein(g):120 | Fat(g):330
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui three column very relaxed grid">
            <div class="column">
                <div class="ui inverted segment">
                        <div class="fluid ui input">
                                <input type="text" placeholder="Food Name">
                        </div>
                        <div class="fluid ui input">
                                <input type="text" placeholder="Calories">
                        </div>
                        <div class="ui divider"></div>

                    <button id= 'breakfast-button' class="fluid ui button">Add</button>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                        <div class="fluid ui input">
                                <input type="text" placeholder="Food Name">
                        </div>
                        <div class="fluid ui input">
                                <input type="text" placeholder="Calories">
                        </div>
                        <div class="ui divider"></div>
                    <button id= 'lunch-button' class="fluid ui button">Add</button>
                </div>
            </div>
            <div class="column">
                <div id= 'dinner-button' class="ui inverted segment">
                        <div class="fluid ui input">
                                <input type="text" placeholder="Food Name">
                        </div>
                        <div class="fluid ui input">
                                <input type="text" placeholder="Calories">
                        </div>
                        <div class="ui divider"></div>
                    <button class="fluid ui button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        #block-header-bar {
            background-color: #a5a2a2;
            padding: 10px;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD69_6YZen6nLawXQ14vI4fBwGiaw2Ets8",
        authDomain: "hackuci2018-dcb66.firebaseapp.com",
        databaseURL: "https://hackuci2018-dcb66.firebaseio.com",
        projectId: "hackuci2018-dcb66",
        storageBucket: "",
        messagingSenderId: "298079984245"
      };
      firebase.initializeApp(config);
        let registerBtn = document.getElementById("register");
        registerBtn.addEventListener('click', () => {
            $('#modal-window').modal('show');
        });
        let registerConfirmBtn = document.getElementById("registerform-registerbutton");
        registerConfirmBtn.addEventListener('click', () => {
            let email = document.getElementById('registerform-email').value;
            let password = document.getElementById('registerform-password').value;
            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                //Handle Errors
                let errorCode = error.code;

                let errorMessage = error.message;
                console.log("Error Creating account!");
                let sendError = document.getElementById("registerinformation");
                sendError.innerHTML += "<a id=\"ErrorText\" class=\"ui input red\"> There was an error creating the account!</a>";
            });
        });

        let loginBtn = document.getElementById("login");
        loginBtn.addEventListener('click', () => {
            if(loginBtn.innerText === "Login") {
                $('#modal-login').modal('show');
            } else {
                firebase.auth().signOut().then(function() {

                }).catch(function(error) {

                });
            }
        });
        let loginBtnConfirm = document.getElementById("loginform-loginbutton");
        loginBtnConfirm.addEventListener('click', () => {
            let email = document.getElementById('loginform-email').value;
            let password = document.getElementById("loginform-password").value;
            firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                // Handle Errors here.
                let errorCode = error.code;
                let errorMessage = error.message;
                console.log("Error logging in!");
                let sendError = document.getElementById("loginInformation");
                sendError.innerHTML += "<a id=\"ErrorText\" class= \"ui input red\"> There was an error logging in!</a>"
            });
        });
        let breakfastAddBtn = document.getElementById("breakfast-button");
        breakfastAddBtn.addEventListener('click', () => {
            $('#modal-breakfast').modal('show');
        });
        let lunchAddBtn = document.getElementById("lunch-button");
        lunchAddBtn.addEventListener('click', () => {
            $('#modal-lunch').modal('show');
        });
        let dinnerAddBtn = document.getElementById("dinner-button");
        dinnerAddBtn.addEventListener('click', () => {
            $('#modal-dinner').modal('show');
        });        
        let breakfastConfirm = document.getElementById("breakfast-confirm");
        breakfastConfirm.addEventListener('click', () => {
            let food = document.getElementById("breakfast-food").value;
            let calories = document.getElementById("breakfast-calorie").value;
        });
                // Start developing database
        let db = firebase.database();

    </script>
</body>

</html>